body {
    /* Aquí el origen de la imagen */
    background-image: url(../images/DunasMasPalomas.jpg);

    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;

    /* Damos un color de fondo mientras la imagen está cargando  */
    background-color: #4646;

}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../images/DeMadridAlCielo.jpg);
    }
}
.screen {
    width: 1900px;

}
.card-panel.white {
    width: 30%;
    margin-top: 280px;
    margin-left: 1050px;
    border-radius: 8px;
    opacity: 0.4;
    background: white;
}
.flash-success {
    margin: 30px 247px 20px 240px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #449592;
    text-align: center;
    background-color: #B2EEE0;
    border:1px solid #449592;
    border-radius: 10px;
}
.flash-error {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color:#900C3F;
    text-align: center;
    background-color: #EEC0B2;
    border:1px solid #900C3F;
    border-radius: 10px;
}
.flash-alert {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color:#e0a800;
    text-align: center;
    background-color: #eeff41;
    border: 1px solid #e0a800;;
    border-radius: 10px;
}

